**/auto/
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.log
**/*.out
**/*.pdf
**/*.run.xml
**/*.synctex.gz
**/*.nav
**/*.snm
**/*.toc
tex/auto/
tex/figures/preorder.log
tex/framework.log
tex/framework.pdf
tex/introduction.log
tex/overabundance.log
tex/paradigms.log
